<div id="pagecontainer" class="maincontainers">
  <form autocomplete="off" [formGroup]="signInForm" (ngSubmit)="login()" class="login-form">
    <h1 class="form-title">LUISTER</h1>
    <div class="wrong-credentials">
      <span *ngIf="errors">{{errors}}</span>
    </div>
    <div class="form-field-cont">
      <span class="email-field-icon"></span>
      <input 
        type="text" 
        formControlName="email" 
        placeholder="Correo electrónico">
    </div> 
    <div class="validation-caption">
      <span *ngIf="isValid('email')">Correo no válido</span>
    </div>    
    <div class="form-field-cont">
      <span class="password-field-icon"></span>
      <input 
        type="password" 
        formControlName="password" 
        placeholder="Contraseña">
    </div>
      <div class="validation-caption">
        <span *ngIf="isValid('password')">Contraseña no correcta</span>
      </div>
    <div class="form-bottom-caption">
      <input class="login-button" type="submit" value="Iniciar de sesión">
      <a routerLink="/signup">Registrarse</a>
    </div>

    <div class="recover-pass">Recuperar contraseña</div>
  </form>
</div>
