<div id="pagecontainer" class="maincontainers">

    <div class="search-container">
        <div class="search-field-shadow">
            <input type="text" name="search" id="search-field" [(ngModel)]="searchLabel" class="search-field" autocomplete="off" placeholder="¿Qué te apetece escuchar?">
        </div>
    </div>

    <div class="search-page-default-body" *ngIf="searchFullResults == null; else searchresults">
        Puedes introducir tus criterios de búsqueda en el campo para dar con
        las canciones, artistas o álbumes que desees encontrar.
    </div>

    <ng-template #searchresults>
        <div class="page-section">
            <div class="main-search-results">
                <div *ngIf="mainResult.id" class="main-elements-container"> <h1>Resultado principal</h1>
                    <div class="first-element">
                        <div class="fe-img-cont">
                            <img src="{{mainResult.img}}" alt="">
                        </div>
                        <div class="fe-tittle-extra-cont">
                            <div class="fe-title">
                                <a routerLink="/details/{{mainResult.type}}/{{mainResult.id}}">{{mainResult.name}}</a>
                            </div>
                            <div class="fe-element-extra">
                                <span class="fee-extra">
                                    {{ mainResult.extra}}
                                </span>
                                <span class="fee-type">
                                    {{ captions[mainResult.type]}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="tracks.length > 0" class="main-elements-container"><h1>Canciones</h1>
                    <div class="tracks-elements">
                        <div class="main-track-found" *ngFor="let i of [1,2,3]">
                            <div class="mtf-img-container">
                                <img src="{{tracks[i].album.img}}" alt="">
                            </div>
                            <span class="mtf-type">{{captions[tracks[i].type]}}</span>
                            <span class="mtf-title">
                                <a routerLink="/details/{{tracks[i].type}}/{{tracks[i].id}}">{{tracks[i].name}}</a>
                            </span>
                            <span class="mtf-artists">
                                <a *ngFor="let artist of tracks[i].artists; let i = index" routerLink="/details/artist/{{artist.id}}">
                                    <span *ngIf="i != 0"> & </span> {{artist.name}}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

                <div *ngIf="albums.length > 0" class="main-elements-container"><h1>Albumes</h1>
                    <div class="msr-albums-elements">
                        <div class="msr-ae-elements" *ngFor="let i of [1,2,3,4,5,6]">
                            <div class="ae-img-cont">
                                <img src="{{albums[i].img}}" alt="">
                            </div>
                            <div class="msr-ae-type">{{captions[albums[i].type]}}</div>
                            <div class="msr-ae-info">
                                <span class="msr-ae-info-title">
                                    <a routerLink="/details/{{albums[i].type}}/{{albums[i].id}}">{{albums[i].name}}</a>
                                </span>
                                
                                <span class="msr-ae-info-artists">
                                   <a *ngFor="let artist of albums[i].artists; let i = index" routerLink="/details/artist/{{artist.id}}">
                                    <span *ngIf="i != 0"> & </span>
                                    {{artist.name}}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="mra-main-title">
                <h1>Artistas</h1>
            </div>

            <div *ngIf="artists.length > 0" class="more-results-artists" #asArtistsCarrusel>
                <div class="artist-tape">
                    <div *ngFor="let artist of artists" class="mra-element" id="{{artist.id}}" ctm="artist">
                        <img src="{{artist.img}}" alt="{{artist.name}}" class="mrae-image">
                        <div>
                            <a class="mrae-title" routerLink="/details/{{artist.type}}/{{artist.id}}">{{artist.name}}</a>
                            <div class="artist-genre-content">
                                <span *ngFor="let genre of artist.genres; let i = index" class="genre-container">
                                    <span *ngIf="i != 0"> - </span> {{genre}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="secundary-result">
            <h1 class="secundary-result-title">Mas resultados</h1>
            <p class="secundary-result-info">
                A continuación, podrás encontrar más resultados referentes a tu búsqueda.
            </p>

            <div class="page-section">
                <h1 class="ps-title">Canciones</h1>
                <div class="page-section-content">
                    <div class="ps-element" *ngFor="let track of tracks" #track id="{{track.id}}">
                        <img *ngIf="track.album.img; else defaultimg" class='another-image' src="{{track.album.img}}" alt="{{track.name}}">
                        <ng-template #defaultimg>
                            <img class='another-image' src="https://c8.alamy.com/compes/2e2kkm2/notas-musicales-con-placa-musical-sobre-fondo-blanco-musica-abstracta-fondo-de-disco-2e2kkm2.jpg" alt="{{track.name}}">
                        </ng-template>
                        <div>
                            <a routerLink="/details/album/{{track.album.id}}" class="pse-card-album-name"> {{track.album.name}} </a>
                            <div>
                                <span class="pse-card-album-artists" *ngFor="let artist of track.artists; let i = index"> 
                                   <i class="ft" *ngIf="i != 0"> Ft </i> <a routerLink="/details/artist/{{artist.id}}">{{artist.name}}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-section">
                <h1 class="page-section-title">Álbumes</h1>
                <div class="page-section-content">
                    <div class="page-section-element" *ngFor="let album of albums" #album id="{{album.id}}">
                        <img *ngIf="album.img; else defaultimg" class='image album-image' src="{{album.img}}" alt="{{album.name}}">
                        <ng-template #defaultimg>
                            <img class='image artist-image' src="https://c8.alamy.com/compes/2e2kkm2/notas-musicales-con-placa-musical-sobre-fondo-blanco-musica-abstracta-fondo-de-disco-2e2kkm2.jpg" alt="{{album.name}}">
                        </ng-template>
                        <a class="card-title" routerLink="/details/album/{{album.id}}"> {{album.name}} &nbsp;</a>
                        <p class="card-description">Álbum</p>
                    </div>
                </div>
            </div>

        </div>
        
            <!-- <div class="page-section">
                <h2 class="page-section-title">Artistas</h2>
                <div class="page-section-content">
                    <div class="page-section-element" *ngFor="let artist of searchResults?.artists.items" #artist id="{{artist.id}}">
                        <img *ngIf="artist.images.length != 0; else defaultimg" class='image artist-image' src="{{artist.images[0].url}}" alt="{{artist.type}} {{artist.name}}">
                        <ng-template #defaultimg>
                            <img class='image artist-image' src="https://c8.alamy.com/compes/2e2kkm2/notas-musicales-con-placa-musical-sobre-fondo-blanco-musica-abstracta-fondo-de-disco-2e2kkm2.jpg" alt="{{artist.type}} {{artist.name}}">
                        </ng-template>
                        <a routerLink="/details/artist/{{artist.id}}"> {{artist.name}} </a>
                        <span class="card-description"> Artista </span>
                    </div>
                </div>
            </div>  -->
    </ng-template>

</div>

