<div class="not-found-page">
    <div class="general">
        <div class="cosa">
            <div class="mensaje-logo">
                <img class="loog" src="..\assets\images\cancelar.png" alt="">
                <h1>Página no encontrada</h1>
                <br>
                <h2><a href="/">Volver al inicio</a></h2>
            </div>
            <div class="container-animation">
    
                <div class="caja">
                    <div class="cara__caja delante">4</div>
                    <div class="cara__caja trasera">0</div>
                    <div class="cara__caja derecha">4</div>
                    <div class="cara__caja izquierda">0</div>
                    <div class="cara__caja arriba">Error</div>
                    <div class="cara__caja abajo">0</div>
                </div>
                <div class="sombra-caja">
    
                </div>
            </div>
        </div>
    </div>
</div>
