<div id="pagecontainer" class="maincontainers">
    <form
      autocomplete="off"
      [formGroup]="myForm"
      (ngSubmit)="register()">
  
      <span>Nuevo usuario</span>
      <div>
        <span>Nombre</span>
        <br>
        <input type="text" formControlName = "name" placeholder="Introduce tu nombre">
        <br>
        <span *ngIf="isValid('name')">Nombre no válido</span>
      </div>
      <div>
        <span>Email</span>
        <br>
        <input type="text" formControlName = "email" placeholder="Introduce tu correo electrónico">
        <br>
        <span *ngIf="isValid('email')">Email no válido</span>
      </div>
      <div>
        <span>Contraseña</span>
        <br>
        <input type="password" formControlName ="password" placeholder="Introduce tu contraseña">
        <br>
        <span *ngIf="isValid('password')">
          La contraseña debe tener al menos 6 caracteres
        </span>
      </div>
      <div>
        <span>Repite tu contraseña</span>
        <br>
        <input type="password" formControlName ="password2" placeholder="Repite la contraseña">
      </div>
      <div>
        <input type="checkbox" name="terms" formControlName ="consent">
        <span for="terms">Aceptar los términos y condiciones</span>
      </div>
      <div class="">
        <button
          class="envio"
          type="submit"
          [disabled]="!myForm.valid">
          Registrarse
        </button>
      </div>
      <div>
        <span>¿Ya tienes una cuenta?</span>
        <a routerLink="/signin">Inicia sesión</a>
      </div>
    </form>
  </div>
  
  
  
  
  