
.general{
    background-color: black;
    width: 100%;
    /* height: 100%; */
}


.cosa{
    overflow: hidden;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 1px solid white; */
    /* background-color: blue; */
    margin: 0 auto;
}

h1{
    color: white;
}
.mensaje-logo{
    /* border: 1px solid white; */
    /* height: 100%; */
    width: calc(50% - 5px);
    /* background-color: red; */
}
.mensaje-logo>img{
    width: 90%;
    

}

/* Desde aquí lo usado para la animacion de error 404 */
.container-animation{
    margin-top: 25%;
    width: 80%;
    perspective: 400px;
    /* border: 1px solid white; */
    /* background-color: yellow; */
}

.caja{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: 0.5s;
    animation-name: rotacionCaja;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    margin: 0 auto;
    
}
.cara__caja {
    position: absolute;
    width: 200px;
    height: 200px;
    font-size: 120px;
    line-height: 200px;
    text-align: center;
    color: #ffffff;
    border: 1px solid black;
    
    
}
.cara__caja.delante{
    transform: rotateY(0deg) translateZ(100px);
    background-color: #600080;
}
.cara__caja.trasera{
    transform: rotateY(90deg) translateZ(100px);
    background-color: #600080;
}
.cara__caja.derecha{
    transform: rotateY(180deg) translateZ(100px);
    background-color: #600080;
}
.cara__caja.izquierda{
    transform: rotateY(-90deg) translateZ(100px);
    background-color: #600080;
    
}
.cara__caja.arriba{
    transform: rotateX(90deg) translateZ(100px);
    background-color: #600080;
    font-size: 60px !important;
    
}
.cara__caja.abajo{
    transform: rotateX(-90deg) translateZ(100px);
    background-color: #600080;
}

@keyframes rotacionCaja{
    25%{
        transform: translateZ(-100px) rotateY(-90deg);
    }
    50%{
        transform: translateZ(-100px) rotateY(-180deg);
    }
    75%{
        transform: translateZ(-100px) rotateX(-90deg);
    }
    85%{
        transform: translateZ(-100px) rotateX(-90deg);
    }
}
.sombra-caja{
    /* position: relative; */
    z-index: 8;
    left: -50px;
    top: calc(100% - 20px);
    width: calc(100% + 100px);
    height: 30px;
    border-radius: 50%;
    background-color: #600080;
    filter: blur(20px);
}
