<navbar></navbar>

<router-outlet #routerOutlet></router-outlet>

<footer></footer>

<div #asBannerContainer class="cookie-banner-container">
    <div class="cookie-banner">
        <p class="banner-info">
          Luister utiliza cookies para mejorar el rendimiento y la funcionalidad de nuestra plataforma. <br>
          Sin estas cookies, es posible que ciertas funciones no se encuentren disponibles.
        </p>
        <button #asBannerButton class="banner-button-admit">Aceptar</button>
    </div>
</div>
