
*{
    font-family: 'Montserrat';
}
#mainpagetitle{
    background: linear-gradient(27deg,rgb(0, 0, 0),rgb(36, 10, 41),rgb(16, 5, 6));
}
.mainpagetitle-cont{
    animation-name: no-perspect;
    animation-duration: .8s;
}
#mainpagetitle-title{
    animation-name: custom2;
    transform-origin: top;
}
#mainpagetitle-body{
    animation-name: custom;
    transform-origin: bottom;
}
.page-section-title{
    animation-name: to-left;
    transform-origin: top;
}
.page-section-element{
    animation: showing .5s; 
}
.album-image{
    border-radius: 7px;
}
.fig-caption{
    position: absolute;
    left: 0;
    top: 22px;
    background: rgba(0, 0, 0, 0.739);
}
a{
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

@media screen and (max-width: 420px) {
    .fig-caption{
        padding: 5px 10px;
        font-weight: 900;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media screen and (min-width: 420.1px) and (max-width: 640px) {
    .fig-caption{
        padding: 5px 10px;
        font-weight: 900;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media screen and (min-width: 640.1px) and (max-width: 960px) {
    .fig-caption{
        padding: 5px 10px;
        font-weight: 900;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media screen and (min-width: 960.1px) and (max-width: 1280px) {
    .fig-caption{
        padding: 5px 10px;
        font-weight: 900;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media screen and (min-width: 1280.1px) and (max-width: 1600px) {
    .fig-caption{
        padding: 5px 10px;
        font-weight: 900;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media screen and (min-width: 1600.1px) and (max-width: 1920px) {
    .fig-caption{
        padding: 5px 10px;
        font-weight: 900;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media screen and (min-width: 1920.1px) and (max-width: 2240px) {
    .fig-caption{
        padding: 5px 10px;
        font-weight: 900;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media screen and (min-width: 2240.1px) {
    .fig-caption{
        padding: 5px 10px;
        font-weight: 900;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
