  /**/
  #pagecontainer{
    padding-bottom: 0;
  }
  .maincontainers{
    background: linear-gradient(360deg, rgba(21, 1, 1, 0.348) 22%, rgba(89, 31, 147, 0.555) 99%),
    linear-gradient(45deg, rgb(59, 5, 5) 22%, rgb(30, 1, 9) 99%) !important;
  }
  .list-page-section{
    box-sizing: border-box;
    margin: 0;
    padding: 0 4%;
    width: 100%;
  }
  .list-header{
    padding-top: 55px;
    padding-bottom: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 3%;
  }
  .image-cont{
    width: 222px;
    aspect-ratio: 1.15 / 1;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2),
    0 0 10px 10px rgba(0, 0, 0, 0.09),
    0 0 20px 20px rgba(0, 0, 0, 0.09),
    0 0 30px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .list-details{
    max-width: 100%;
    min-width: 222px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
  }
  .list-type{
    font-size: 16px;
  }
  .list-name{
    font-size: 55px;
  }
  .list-description{
    font-size: 20px;
  }
  .list-owner-total{
    display: flex;
    gap: 3%;
  }
  .list-owner, .list-total-tracks{
    font-size: 16px;
  }
  .actions{
    height: 66px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list-actions{
    font-family: 'linearicon';
    font-size: 25px;
    cursor: pointer;
  }
  .list-actions::before{
    content: '\e872';
  }
  .table{
    background: rgba(0, 0, 0, 0.3);
    min-height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 55px;
  }
  th{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  td{
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  }
  .list-table{
    background: transparent;
  }
  .field{
    color: white;
  }
  .suggestion{
    margin: 22px 0;
  }
  .suggestions-container{
    display: flex;
    gap: 11px;
    margin: 22px 0;
  }
  .suggestions{
    padding: 10px;
    border-radius: 100px;
    background: rgb(128, 11, 83);
    width: fit-content;
    cursor: pointer;
  }
  .track-index-like{
    display: block;
    cursor: pointer;
    height: 24px;
    width: 24px;
    background-color: rgba(124, 124, 124, 0.148);
    clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
}
.track-index-like:hover{
    content: ' ';
    background-color: rgb(255, 255, 255);
}

.like, .liked, .rubish{
  font-size: 22px;
  cursor: pointer;
}
.like, .rubish{
  font-family: 'linearicon';
}
.like::before{
  content: '\e813';
}
.rubish::before{
  content: '\e811';
}
.liked{
  font-family: 'Icomoon';
}
.liked::before{
  content: '\e9da';
}

