.not-found-page{
    position: fixed;
    width: 100%;
    height: 100%;
    color: white;
    background: black;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dacing Script';
    font-size: 33px;
    flex-direction: column;
}