<div class="maincontainers footer-container">
    <div class="footer-section page-section first-footer-section">
        
        <div class="ffs-containers">
            <h2>Compañía</h2>
            <a routerLink="/more-info/luister">Luister</a>
            <a routerLink="/more-info/about-us">Sobre nosotros</a>
        </div>
        <div class="ffs-containers">
            <h2>Plataformas</h2>
            <a href="https://www.apple.com/es/apple-music/" target="_blank">Apple Music</a>
            <a href="https://open.spotify.com/" target="_blank">Spotify</a>
            <a href="https://www.deezer.com/es/" target="_blank">Deezer</a>
            <a href="https://music.youtube.com/" target="_blank">Youtube Music</a>
            <a href="https://www.amazon.es/music/" target="_blank">Amazon Music</a>
        </div>
        <div class="ffs-containers">
            <h2>Legal</h2>
            <a routerLink="/more-info/priv-policies">Política de privacidad</a>
            <a routerLink="/more-info/cookies">Política de cookies</a>
            <a routerLink="/more-info/copyright">Derechos de autor</a>
        </div>
    </div>

    <span class="line-separator page-section"></span>

    <div class="footer-section page-section last-footer-section">
        
        <a class="credits-atribution" routerLink="/more-info/attributions">Atribuciones y créditos</a>

        <div class="social-media-icons">
            <a href="https://twitter.com/" target="_blank" #twitter id="twitter" class="socialsNetworks-element"></a>
            <a href="https://www.instagram.com/" target="_blank" #instagram id="insta" class="socialsNetworks-element"></a>
            <a href="https://www.facebook.com/" target="_blank" #facebook id="facebook" class="socialsNetworks-element"></a>
        </div>
        
        <div class="ccmons">
            <span>© 2023 Luister</span>
        </div>
    </div>

</div>