<div id="pagecontainer" class="maincontainers">
  <form class="signup-form"
    autocomplete="off"
    [formGroup]="signUpForm"
    (ngSubmit)="register()">

    <h1>Registro de usuarios</h1>

    <div class="form-field-container">
      <span>Nombre</span>
      <input type="text" formControlName="name" placeholder="Introduce tu nombre">
    </div>
    <div class="infvalid-field-value">
      <span *ngIf="isValid('name')">Nombre no válido</span>
    </div>
    <div class="form-field-container">
      <span>Email</span>
      <input type="text" formControlName="email" placeholder="Introduce tu correo electrónico">
    </div>
    <div class="infvalid-field-value">
      <span *ngIf="isValid('email')">Email no válido</span>
    </div>
    <div class="consent-container">
      <input type="checkbox" formControlName="consent" id="consent">
      <label for="consent">Aceptar los términos y condiciones</label>
      <br>
      <div class="infvalid-field-value">
        <span *ngIf="isValid('consent')">Tienes que aceptar los términos y condiciones</span>
      </div>

    </div>
    <br>
    <div class="form-bottom-fields">
      <input type="submit" class="send-button" value="Registrarse"
        [disabled]="!signUpForm.valid">
      <a routerLink="/signin" class="signin-link">Inicia sesión</a>
    </div>
  </form>
</div>




