
.maincontainers{
    background: linear-gradient(125deg, rgb(83, 8, 47), rgb(40, 6, 79)) !important;
}
.pass-seter-from{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 222px;
    max-width: 444px;
    gap: 11px;
    font-family: 'Outfit';
    background: rgba(17, 17, 17, 0.319);
    padding: 20px;
    margin-top: 22px;
}
h1{
    font-size: 28px;
    text-align: center;
}
.reset-fields{
    position: relative;
    height: 66px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 19px;
}
.bottom-reset-fields{
    margin-top: 7px;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reset-fields > label{
    display: block;
    height: 45%;
    width: 100%;
    color: rgb(255, 225, 241);
    font-weight: 600;
}
.invalid-pass-format{
    min-height: 22px;
    align-items: center;
    color: rgb(226, 78, 102);
}
.password, .password-repeat{
    box-sizing: border-box;
    padding: 0 40px 0 11px;
    width: 100%;
    height: 55%;
    background: rgba(234, 87, 190, 0.175);
}
.password-missmatch{
    box-sizing: border-box;
    width: calc(100% - 122px);
    padding-right: 15px;
    color: rgb(226, 78, 102);
}
.update-pass-button{
    height: 40px;
    background: purple;
    font-size: 18px;
    width: 122px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Outfit';
}
.show-hide-pass,.show-hide-pass2{
    position: absolute;
    display: flex;
    right: 8px;
    bottom: 0;
    font-family: 'Icomoon';
    font-size: 20px;
    height: 55%;
    align-items: center;
    cursor: pointer;
}
.show-hide-pass::before{
    content: '\e9ce';
}
.show-hide-pass2::before{
    content: '\e9d1';
}