
<navbar></navbar>

<router-outlet></router-outlet>

<footer></footer>

<div #asBannerContainer class="cookie-banner-container">
    <div class="cookie-banner">
        <p class="banner-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ratione tenetur adipisci reiciendis officia.
            Porro iure illum repudiandae quam beatae atque aperiam.
            Deserunt nulla doloremque, aliquid impedit ad aut repellendus repudiandae!
        </p>
        <button #asBannerButton class="banner-button-admit">Aceptar</button>
    </div>
</div>