<div class="maincontainers footer-container">
    <div class="footer-section socialsNetworks">
        <!-- Enlaces a redes sociales -->
        <span #twitter id="twitter" class="socialsNetworks-element"></span>
        <span #instagram id="insta" class="socialsNetworks-element"></span>
        <span #facebook id="facebook" class="socialsNetworks-element"></span>
    </div>
    <div class="footer-section legal">
        <span class="legal-element">Politicas de privacidad</span> <span class="separator"></span>
        <span class="legal-element">Cookies</span> <span class="separator"></span>
        <span class="legal-element">Sobre nosotros</span> <span class="separator"></span>
        <span class="legal-element">Uso responsable</span>
    </div>
    <div class="footer-section ccmons">
        <span>© 2023 Luister</span>
    </div>
</div>