<div id="pagecontainer" class="maincontainers">
    <form [formGroup]="setPasswordForm"
        (ngSubmit)="updatePassword()"
        class="pass-seter-from">
        <h1>Establezca su contraseña</h1>
        <div class="reset-fields">
            <span (click)="showHidePassword($event)" class="show-hide-pass"></span>
            <label>Nueva contraseña</label>
            <input type="password" formControlName="password" class="password">
        </div>
        <div class="invalid-pass-format">
            <span *ngIf="!isValid('password')">Formato de contraseña incorrecto</span>
        </div>        
        <div class="reset-fields">
            <span (click)="showHidePassword($event)" class="show-hide-pass"></span>
            <label>Repita su contraseña</label>
            <input type="password" formControlName="passwordrepeat" class="password-repeat">
        </div>
        <div class="bottom-reset-fields">
            <span *ngIf="!isValid('password')" class="password-missmatch">No coinciden las contraseñas</span>
            <input type="submit" value="Guardar" class="update-pass-button">
        </div>
    </form>
</div>
