<navbar></navbar>

<router-outlet #routerOutlet></router-outlet>

<footer></footer>

<div #asBannerContainer class="cookie-banner-container">
    <div class="cookie-banner">
        <p class="banner-info">
          Luister utiliza "cookies" para identificar las áreas de nuestro sitio web que ha visitado.
          Una cookie es una pequeña porción de datos que su navegador web almacena en su computadora o dispositivo móvil.
          Usamos cookies para mejorar el rendimiento y la funcionalidad de nuestra plataforma, pero no son esenciales para su uso. Sin embargo, sin estas cookies, es posible que ciertas funciones. como los videos, no estén disponibles o se le solicitará que ingrese sus datos de inicio de sesión cada vez que visite la plataforma, ya que no podríamos recordar que había iniciado sesión anteriormente. La mayoría de los navegadores web se pueden configurar para desactivar el uso de cookies. Sin embargo, si desactiva las cookies, es posible que no pueda acceder a la funcionalidad de nuestro sitio web correctamente o en absoluto. Nunca colocamos información de identificación personal en cookies.
        </p>
        <button #asBannerButton class="banner-button-admit">Aceptar</button>
    </div>
</div>
